body{
    margin: 0;
    padding: 0;
    background-color: rgb(49, 46, 46);
}
@keyframes changeColor{
    2%{ background-color: rgb(49, 45, 49);}
    30%{background-color: rgb(121, 41, 158);}
    60%{background-color: rgb(49, 46, 46)}
    100%{background-color: rgb(121, 41, 158);}
}

.head{ 
   display: flex;
   background-color:rgb(49, 46, 46);
   font-family: 'Franklin Gothic Medium';
   justify-content: center;
   padding-top: 20px;
   padding-bottom: 40px;
   margin-bottom: 60px;
   color: aliceblue;
   font-size: 44px;
   animation-name: changeColor;
   animation-duration: 7s;
   animation-direction: alternate;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;

} 

.square{
    background-color:  rgb(49, 46, 46);
    width: 100px;
    height: 100px;
    border: 4px solid rgb(121, 41, 158);
    
    
    } 
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.o{
    display: flex;
    

}
.o::after{
content: "O";
font-size: 60px;
line-height: 100px;
margin: auto;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: whitesmoke;
}
.x{
    display: flex;
    

}
.x::after{
content: "X";
font-size: 60px;
line-height: 100px;
margin: auto;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: whitesmoke;
} 
footer{
    background-color:rgb(121, 41, 158) ;
    
}
.img1{
    width: 100px;
    height: 100px;
}